<div id="chart">
  <div class="chart-header">
    <small class="chart-header-subtitle">8 小時前</small>
    <h3 class="chart-header-title">
      <span>{{ reservoirName }}</span
      ><span>{{ chartData[0].toFixed(0) }}%</span>
    </h3>
  </div>
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [stroke]="chartOptions.stroke!"
    [dataLabels]="chartOptions.dataLabels!"
    [yaxis]="chartOptions.yaxis!"
    [states]="chartOptions.states!"
    [tooltip]="chartOptions.tooltip!"
    [responsive]="chartOptions.responsive!"
    [grid]="chartOptions.grid!"
    [theme]="chartOptions.theme!"
    [colors]="chartOptions.colors!"
  >
  </apx-chart>
</div>
