<p>reservoir-chart works!</p>

<div id="chart">
  <div>我是 title</div>
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [stroke]="chartOptions.stroke!"
    [dataLabels]="chartOptions.dataLabels!"
    [yaxis]="chartOptions.yaxis!"
    [title]="chartOptions.title!"
    [subtitle]="chartOptions.subtitle!"
    [states]="chartOptions.states!"
    [tooltip]="chartOptions.tooltip!"
    [responsive]="chartOptions.responsive!"
    [grid]="chartOptions.grid!"
  >
  </apx-chart>
</div>
