:host.chart {
  background-color: #1e1e1e;
  border-radius: 12px;
  width: calc(100% / 3 - 8px);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0.85rem;
  transition: transform 0.2s ease-in;

  &:hover {
    transform: translateY(-0.5rem);
  }

  @media screen and (max-width: 768px) {
    width: calc(100% / 2 - 8px);
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.chart {
  &-header {
    padding: 0 0.5rem 0.25rem;

    &-title {
      display: flex;
      justify-content: space-between;
      color: #fff;
    }

    &-subtitle {
      font-size: 0.7rem;
      color: #fff;
    }
  }
}
