.subtitle {
  margin: 1.5rem 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .card {
    width: calc(100% / 3 - 8px);
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
      width: calc(100% / 2 - 8px);
    }

    &-desc {
      margin-bottom: 0.25rem;
    }
  }
}
