/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.p-3 {
  padding: 2rem 0;
}

.pl-1 {
  padding-left: 0.5rem;
}
