<section class="list-wrapper" [ngClass]="{ 'list-wrapper-active': northernReservoirList.length > 0 }">
  <h2 class="area-title">{{ 'NORTHERN_TW' | translate }}</h2>
  <div class="chart-wrapper">
    <ng-container *ngFor="let reservoirItem of northernReservoirList">
      <app-reservoir-chart
        [chartData]="reservoirItem.percentage"
        [reservoirName]="reservoirItem.name"
        [reservoirUpdateTime]="reservoirItem.pureTime!"
        [reservoirId]="reservoirItem.id"
      ></app-reservoir-chart>
    </ng-container>
  </div>
</section>

<section class="list-wrapper" [ngClass]="{ 'list-wrapper-active': middleReservoirList.length }">
  <h2 class="area-title">{{ 'MIDDLE_TW' | translate }}</h2>
  <div class="chart-wrapper">
    <ng-container *ngFor="let reservoirItem of middleReservoirList">
      <app-reservoir-chart
        [chartData]="reservoirItem.percentage"
        [reservoirName]="reservoirItem.name"
        [reservoirUpdateTime]="reservoirItem.pureTime!"
        [reservoirId]="reservoirItem.id"
      ></app-reservoir-chart>
    </ng-container>
  </div>
</section>

<section class="list-wrapper" [ngClass]="{ 'list-wrapper-active': southernReservoirList.length }">
  <h2 class="area-title">{{ 'SOUTHERN_TW' | translate }}</h2>
  <div class="chart-wrapper">
    <ng-container *ngFor="let reservoirItem of southernReservoirList">
      <app-reservoir-chart
        [chartData]="reservoirItem.percentage"
        [reservoirName]="reservoirItem.name"
        [reservoirUpdateTime]="reservoirItem.pureTime!"
        [reservoirId]="reservoirItem.id"
      ></app-reservoir-chart>
    </ng-container>
  </div>
</section>
